
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет работника</title>
</head>
<body>

    <h1> Кабинет Сотрудника:  <span th:text="${user.userName}"> </span>  </h1>
    <br>
    <h5>========================= Пользователь системы ===========================================================</h5>
    <span> ID:                   <span th:text = ${user.userId}> Нечего не получили</span>  </span><br>
    <span> Имя:                  <span th:text = ${user.userName}> Нечего не получили</span>  </span><br>
    <span> Отчество:             <span th:text = ${user.userPatrol}> Нечего не получили</span>  </span><br>
    <span> Фамилия:              <span th:text = ${user.userSerName}> Нечего не получили</span>  </span><br>
    <span> Почта:                <span th:text = ${user.userEmail}> Нечего не получили</span>  </span><br>
    <span> Дата рождения:        <span th:text = ${user.userHireDate}> Нечего не получили</span>  </span><br>
    <span> Номер телефона:       <span th:text = ${user.userPhone}> Нечего не получили</span>  </span><br>
    <span> Роль:                 <span th:text = ${user.userRole}> Нечего не получили</span>  </span><br>
    <span> Логин:                <span th:text = ${user.userLogin}> Нечего не получили</span>  </span><br>
    <h5>======================================================================================================== </h5>
    <br>
    <br>
<!--    <a  th:href="@{/new_task}" > 1) Создать задачу для себя </a>-->
    <form th:action =@{/new_task} method="GET">
        <input type="hidden" th:value="${user.userId}"       name="userId">
        <input type="hidden" th:value="${user.userName}"     name="userName">
        <input type="hidden" th:value="${user.userPatrol}"   name="userPatrol">
        <input type="hidden" th:value="${user.userSerName}"  name="userSerName">
        <input type="hidden" th:value="${user.userEmail}"    name="userEmail">
        <input type="hidden" th:value="${user.userHireDate}" name="userHireDate">
        <input type="hidden" th:value="${user.userPhone}"     name="userPhone">
        <input type="hidden" th:value="${user.userRole}"    name="userRole">
        <input type="hidden" th:value="${user.userLogin}"    name="userLogin">
        <input type="submit" value=" Создать задачу для себя ">
    </form>
<!--    <a  th:href="@{/all_free_task}"> 2) Просмотра списка всех свободных (Только по его роли) </a>-->
    <form th:action =@{/all_free_task} method="GET">
        <input type="hidden" th:value="${user.userId}"       name="userId">
        <input type="hidden" th:value="${user.userName}"     name="userName">
        <input type="hidden" th:value="${user.userPatrol}"   name="userPatrol">
        <input type="hidden" th:value="${user.userSerName}"  name="userSerName">
        <input type="hidden" th:value="${user.userEmail}"    name="userEmail">
        <input type="hidden" th:value="${user.userHireDate}" name="userHireDate">
        <input type="hidden" th:value="${user.userPhone}"     name="userPhone">
        <input type="hidden" th:value="${user.userRole}"    name="userRole">
        <input type="hidden" th:value="${user.userLogin}"    name="userLogin">
        <input type="submit" value=" Просмотра списка всех свободных (Только по его роли) ">
    </form>
<!--    <a  th:href="@{/all_my_task}"> 3) Просмотр всех своих задач </a> <br>-->
    <form th:action =@{/all_my_task} method="GET">
        <input type="hidden" th:value="${user.userId}"       name="userId">
        <input type="hidden" th:value="${user.userName}"     name="userName">
        <input type="hidden" th:value="${user.userPatrol}"   name="userPatrol">
        <input type="hidden" th:value="${user.userSerName}"  name="userSerName">
        <input type="hidden" th:value="${user.userEmail}"    name="userEmail">
        <input type="hidden" th:value="${user.userHireDate}" name="userHireDate">
        <input type="hidden" th:value="${user.userPhone}"     name="userPhone">
        <input type="hidden" th:value="${user.userRole}"    name="userRole">
        <input type="hidden" th:value="${user.userLogin}"    name="userLogin">
        <input type="submit" value="Просмотр всех своих задач">
    </form>
<!--    <a  th:href="@{/search_task_by_parameter}"> 4) Поиск Задачи по (id, date_create, name) </a> <br>-->
    <form th:action =@{/search_task_by_parameter} method="GET">
        <input type="hidden" th:value="${user.userId}"       name="userId">
        <input type="hidden" th:value="${user.userName}"     name="userName">
        <input type="hidden" th:value="${user.userPatrol}"   name="userPatrol">
        <input type="hidden" th:value="${user.userSerName}"  name="userSerName">
        <input type="hidden" th:value="${user.userEmail}"    name="userEmail">
        <input type="hidden" th:value="${user.userHireDate}" name="userHireDate">
        <input type="hidden" th:value="${user.userPhone}"     name="userPhone">
        <input type="hidden" th:value="${user.userRole}"    name="userRole">
        <input type="hidden" th:value="${user.userLogin}"    name="userLogin">
        <input type="submit" value="Поиск Задачи">
    </form>




    <!--    <div >-->
<!--        <p  th:text="${user.id}"> по умолчанию номер</p>-->
<!--        <p  th:text="${user.login}"> по умолчанию логин</p>-->
<!--        <p  th:text="${user.password}">по умолчанию пароль</p>-->
<!--    </div>-->






</body>
</html>