
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет Директора</title>
</head>
<body>

    <h1> Личный кабинет Директора:  <span th:text="${user.firstName}"> </span> </h1>
    <br>
    <p> ID:      <span th:text = ${user.id}> Нечего не получили</span>  </p>
    <p> Имя:      <span th:text = ${user.firstName}> Нечего не получили</span>  </p>
    <p> Отчество:      <span th:text = ${user.middleName}> Нечего не получили</span>  </p>
    <p> Фамилия:      <span th:text = ${user.lastName}> Нечего не получили</span>  </p>
    <p> Почта:       <span th:text = ${user.email}> Нечего не получили</span>  </p>
    <p> Дата рождения:       <span th:text = ${user.hireDate}> Нечего не получили</span>  </p>
    <p> Номер телефона:       <span th:text = ${user.phoneNum}> Нечего не получили</span>  </p>
    <p> Роль:      <span th:text = ${user.role}> Нечего не получили</span>  </p>
    <p> Логин:      <span th:text = ${user.login}> Нечего не получили</span>  </p>
    <br>
    <br>
    <form th:action =@{/new_task} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="Создать задачу">
    </form>
    <form th:action =@{/all_free_task} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="Просмотра списка всех задач">
    </form>
<!--    <a th:href="@{/all_employee}"> 3) Просмотр всех работников                         </a> <br>-->
    <form th:action =@{/all_employee} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="2) Просмотра списка всех сотрудников">
    </form>
<!--    <a th:href="@{/all_free_task}"> 4) Просмотр всех свободных задач                    </a> <br>-->
    <form th:action =@{/all_free_task} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="Просмотр всех свободных задач">
    </form>

<!--    <a th:href="@{/assignment_to_a_worker_task}"> 5) Назначение на задачу работника                   </a> <br>-->
    <form th:action =@{/assignment_to_a_worker_task} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="Назначение на задачу работника  ">
    </form>
<!--    <a th:href="@{/all_free_employee}"> 6) Просмотр всех свободных работников               </a> <br>-->
    <form th:action =@{/all_free_employee} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="Просмотр всех свободных работников  ">
    </form>
<!--    <a th:href="@{/search_employee_by_parameter}"> 7) Поиск работника по (id, login, name, dateBerth)  </a> <br>-->
    <form th:action =@{/search_employee_by_parameter} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="Поиск сотрудника ">
    </form>
<!--    <a th:href="@{/search_task_by_parameter}"> 8) Поиск Задачи по (id, date_create, name)          </a> <br>-->
    <form th:action =@{/search_task_by_parameter} method="GET">
        <input type="hidden" th:value="${user.id}" name="id">
        <input type="hidden" th:value="${user.firstName}" name="firstName">
        <input type="hidden" th:value="${user.middleName}" name="middleName">
        <input type="hidden" th:value="${user.lastName}" name="lastName">
        <input type="hidden" th:value="${user.email}" name="email">
        <input type="hidden" th:value="${user.hireDate}" name="hireDate">
        <input type="hidden" th:value="${user.phoneNum}" name="phoneNum">
        <input type="hidden" th:value="${user.role}" name="role">
        <input type="hidden" th:value="${user.login}" name="login">
        <input type="submit" value="Поиск Задачи ">
    </form>


<!--    <div >-->
<!--        <p  th:text="${user.id}"> по умолчанию номер</p>-->
<!--        <p  th:text="${user.login}"> по умолчанию логин</p>-->
<!--        <p  th:text="${user.password}">по умолчанию пароль</p>-->
<!--    </div>-->






</body>
</html>