<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Вход в систему</h1>
    <form th:action="@{/login}" th:object="${тут должна ваш обьект}" method="POST">
        <input type="text" th:field="*{login}" placeholder="Логин пользователя" id="login">
        <br>
        <input type="password" th:field="*{password}" placeholder="Пароль пользователя" id="password">
        <br>
        <input type="submit" name="submit">
    </form>
</body>
</html>