<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Регистрация в системе нового пользователя</h1>
    
    <form th:action="@{/register}" th:object="${тут должен быть ваш обьект}" method="POST">
        <input type="text" th:field="*{login}" placeholder="Логин пользователя" id="login">
        <br>
        <input type="password" th:field="*{password}" placeholder="Пароль пользователя" id="password">
        <br>
        <input type="text" th:field="*{userName}" placeholder="Имя пользователя" id="userName">
        <br>
        <input type="email" th:field="*{email}" placeholder="Почтовый ящик пользователя" id="email">
        <br>
        <input type="submit" name="submit">
    </form>
    
</body>
</html>