<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все задачи системы</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>


<h1> Страница показывающая все задачи в системе в зависимости от уровня доступа </h1>

<tbody>
<tr th:if="${task_list.empty}">
    <td colspan="2"> В системе нет задач</td>
</tr>
<tr th:each="task : ${task_list}">
    <br>
    <br>
    <span>Id задачи:  <span th:text="${task.taskId}"></span></span> <br>
    <span>Тема задачи:  <span th:text="${task.taskThem}"></span></span> <br>
    <span>Описание задачи: <span th:text="${task.taskDescription}"></span></span> <br>
    <span>Дата создания задачи:  <span th:text="${task.taskDataCreate}"></span></span> <br>
    <span>До какого нужно выполнить задачу: <span th:text="${task.taskDataCompletion}"></span></span> <br>
    <span>Статус задачи:  <span th:text="${task.taskStatus.getDescription()}"></span></span> <br>
    <span>Автор задачи:  <span
            th:text="${task.taskAuthor != null}? ${task.taskAuthor.authorName}: 'У задачи нет автора'"></span></span>
    <br>
    <span>Автор задачи:  <span
            th:text="${task.taskExecutor == null }? 'У задачи нет Исполнителя':  ${task.taskExecutor.executorName} "></span></span>
    <br>
    <br>
    <br>

    <div>

        <form th:act="@{/}" method="GET">
            <input type="submit" value="посмотреть задачу подробнее">
        </form>

        <form th:if="${userDto.userRole == T(com.example.crmtaskmeneger.entity.enumeric.UserRole).DIRECTOR}"
              th:act="@{/}" method="GET">
            <input type="submit" value="посмотреть информацию об авторе задачи">
        </form>

        <form th:if="${userDto.userRole == T(com.example.crmtaskmeneger.entity.enumeric.UserRole).DIRECTOR}"
              th:action="@{/}" method="GET">
            <input type="submit" value="Изменить Задачу">
        </form>

        <form th:if="${userDto.userRole == T(com.example.crmtaskmeneger.entity.enumeric.UserRole).EMPLOYEE}"
              th:action="@{/}" method="GET">
            <input type="submit" value="Принять задачу на выполнение">
        </form>

        <form th:if="${userDto.userRole == T(com.example.crmtaskmeneger.entity.enumeric.UserRole).DIRECTOR}"
              th:action="@{/}" method="GET">
            <input type="submit" value="Посмотреть исполнителя подробнее">
        </form>

        <form th:action="@{/personal_area}" method="GET">
            <input type="hidden" th:value="${userDto.userId}" name="userId">
            <input type="hidden" th:value="${userDto.userLogin}" name="userLogin">
            <input type="hidden" th:value="${userDto.userName}" name="userName">
            <input type="hidden" th:value="${userDto.userSerName}" name="userSerName">
            <input type="hidden" th:value="${userDto.userPatronymic}" name="userPatronymic">
            <input type="hidden" th:value="${userDto.userDateOfEmployment}" name="userDateOfEmployment">
            <input type="hidden" th:value="${userDto.userRole}" name="userRole">
            <input type="submit" value="Вернуться в личный кабинет">
        </form>

    </div>

</tr>
</body>
</html>